Connected Services/ServiceReference1/WebApp.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebApp.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebApp.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPaymentOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentOrder" nillable="true" type="tns:PaymentOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentOrder" nillable="true" type="tns:ArrayOfPaymentOrder" />
  <xs:complexType name="PaymentOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="OrigConID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recipient" nillable="true" type="tns:Recipient" />
      <xs:element minOccurs="0" name="RecipientID" type="xs:int" />
      <xs:element minOccurs="0" name="Remitter" nillable="true" type="tns:Remitter" />
      <xs:element minOccurs="0" name="RemitterID" type="xs:int" />
      <xs:element minOccurs="0" name="Transaction" nillable="true" type="tns:Transaction" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentOrder" nillable="true" type="tns:PaymentOrder" />
  <xs:complexType name="Recipient">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ValueObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Financial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstitutionID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MCC" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PriAcc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Purpose" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ccy" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Recipient" nillable="true" type="tns:Recipient" />
  <xs:complexType name="ValueObject">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ValueObject" nillable="true" type="tns:ValueObject" />
  <xs:complexType name="Remitter">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ValueObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Financial" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Funds" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ccy" type="xs:int" />
          <xs:element minOccurs="0" name="principalActivity" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Remitter" nillable="true" type="tns:Remitter" />
  <xs:complexType name="Transaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ValueObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:int" />
          <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SystemTraceANO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="routeID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
</xs:schema>